In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("kidney_disease.csv")

In [3]:
dataset

,id,age,bp,sg,al,su,bgr,bu,sc,sod,...,pc,pcc,ba,htn,dm,cad,appet,pe,ane,classification
0,3.000000,48.000000,70.000000,1.005000,4.00000,0.000000,117.000000,56.000000,3.80000,111.00000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,9.000000,53.000000,90.000000,1.020000,2.00000,0.000000,70.000000,107.000000,7.20000,114.00000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,11.000000,63.000000,70.000000,1.010000,3.00000,0.000000,380.000000,60.000000,2.70000,131.00000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,12.000000,68.000000,70.000000,1.015000,3.00000,1.000000,208.000000,72.000000,2.10000,138.00000,...,abnormal,present,notpresent,yes,no,no,poor,yes,yes,ckd
4,14.000000,68.000000,80.000000,1.010000,3.00000,2.000000,157.000000,90.000000,4.10000,130.00000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
320,248.132275,51.470899,75.079365,1.019048,0.84127,0.343915,138.941799,53.142857,2.26455,138.62963,...,normal,notpresent,notpresent,no,no,no,good,no,no,notckd
321,248.132275,51.470899,75.079365,1.019048,0.84127,0.343915,138.941799,53.142857,2.26455,138.62963,...,normal,notpresent,notpresent,no,no,no,good,no,no,notckd
322,248.132275,51.470899,75.079365,1.019048,0.84127,0.343915,138.941799,53.142857,2.26455,138.62963,...,normal,notpresent,notpresent,no,no,no,good,no,no,notckd
323,248.132275,51.470899,75.079365,1.019048,0.84127,0.343915,138.941799,53.142857,2.26455,138.62963,...,normal,notpresent,notpresent,no,no,no,good,no,no,notckd
324,248.132275,51.470899,75.079365,1.019048,0.84127,0.343915,138.941799,53.142857,2.26455,138.62963,...,normal,notpresent,notpresent,no,no,no,good,no,no,notckd

In [4]:
dataset.isnull().sum()

id                  0
age                 0
bp                  0
sg                  0
al                  0
su                  0
bgr                 0
bu                  0
sc                  0
sod                 0
pot                 0
hemo                0
pcv                 0
wc                  0
rc                  0
rbc               136
pc                136
pcc               136
ba                136
htn               136
dm                136
cad               136
appet             136
pe                136
ane               136
classification    136
dtype: int64

In [5]:
dataset.isna().sum()

id                  0
age                 0
bp                  0
sg                  0
al                  0
su                  0
bgr                 0
bu                  0
sc                  0
sod                 0
pot                 0
hemo                0
pcv                 0
wc                  0
rc                  0
rbc               136
pc                136
pcc               136
ba                136
htn               136
dm                136
cad               136
appet             136
pe                136
ane               136
classification    136
dtype: int64

In [21]:
dataset["classification"].fillna(0,inplace=True)
dataset["rbc"].fillna(0,inplace=True)
dataset["pc"].fillna(0,inplace=True)
dataset["pcc"].fillna(0,inplace=True)
dataset["ba"].fillna(0,inplace=True)
dataset["htn"].fillna(0,inplace=True)
dataset["dm"].fillna(0,inplace=True)
dataset["cad"].fillna(0,inplace=True)
dataset["appet"].fillna(0,inplace=True)
dataset["pe"].fillna(0,inplace=True)
dataset["ane"].fillna(0,inplace=True)

In [22]:
dataset.isnull().sum()

id                0
age               0
bp                0
sg                0
al                0
su                0
bgr               0
bu                0
sc                0
sod               0
pot               0
hemo              0
pcv               0
wc                0
rc                0
rbc               0
pc                0
pcc               0
ba                0
htn               0
dm                0
cad               0
appet             0
pe                0
ane               0
classification    0
dtype: int64

In [24]:
dataset.dropna(inplace=True)

In [25]:
dataset

,id,age,bp,sg,al,su,bgr,bu,sc,sod,...,pc,pcc,ba,htn,dm,cad,appet,pe,ane,classification
0,3.000000,48.000000,70.000000,1.005000,4.00000,0.000000,117.000000,56.000000,3.80000,111.00000,...,0,0,0,0,0,0,0,0,0,0
1,9.000000,53.000000,90.000000,1.020000,2.00000,0.000000,70.000000,107.000000,7.20000,114.00000,...,0,0,0,0,0,0,0,0,0,0
2,11.000000,63.000000,70.000000,1.010000,3.00000,0.000000,380.000000,60.000000,2.70000,131.00000,...,0,0,0,0,0,0,0,0,0,0
3,12.000000,68.000000,70.000000,1.015000,3.00000,1.000000,208.000000,72.000000,2.10000,138.00000,...,abnormal,present,notpresent,yes,no,no,poor,yes,yes,ckd
4,14.000000,68.000000,80.000000,1.010000,3.00000,2.000000,157.000000,90.000000,4.10000,130.00000,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
320,248.132275,51.470899,75.079365,1.019048,0.84127,0.343915,138.941799,53.142857,2.26455,138.62963,...,normal,notpresent,notpresent,no,no,no,good,no,no,notckd
321,248.132275,51.470899,75.079365,1.019048,0.84127,0.343915,138.941799,53.142857,2.26455,138.62963,...,normal,notpresent,notpresent,no,no,no,good,no,no,notckd
322,248.132275,51.470899,75.079365,1.019048,0.84127,0.343915,138.941799,53.142857,2.26455,138.62963,...,normal,notpresent,notpresent,no,no,no,good,no,no,notckd
323,248.132275,51.470899,75.079365,1.019048,0.84127,0.343915,138.941799,53.142857,2.26455,138.62963,...,normal,notpresent,notpresent,no,no,no,good,no,no,notckd
324,248.132275,51.470899,75.079365,1.019048,0.84127,0.343915,138.941799,53.142857,2.26455,138.62963,...,normal,notpresent,notpresent,no,no,no,good,no,no,notckd

In [28]:
dataset["classification"].fillna(dataset["classification"].mode(),inplace=True)
dataset["rbc"].fillna(dataset["rbc"].mode(),inplace=True)
dataset["pc"].fillna(dataset["pc"].mode(),inplace=True)
dataset["pcc"].fillna(dataset["pcc"].mode(),inplace=True)
dataset["ba"].fillna(dataset["ba"].mode(),inplace=True)
dataset["htn"].fillna(dataset["htn"].mode(),inplace=True)
dataset["dm"].fillna(dataset["dm"].mode(),inplace=True)
dataset["cad"].fillna(dataset["cad"].mode(),inplace=True)
dataset["appet"].fillna(dataset["appet"].mode(),inplace=True)
dataset["pe"].fillna(dataset["pe"].mode(),inplace=True)
dataset["ane"].fillna(dataset["ane"].mode(),inplace=True)

In [29]:
dataset

,id,age,bp,sg,al,su,bgr,bu,sc,sod,...,pc,pcc,ba,htn,dm,cad,appet,pe,ane,classification
0,3.000000,48.000000,70.000000,1.005000,4.00000,0.000000,117.000000,56.000000,3.80000,111.00000,...,0,0,0,0,0,0,0,0,0,0
1,9.000000,53.000000,90.000000,1.020000,2.00000,0.000000,70.000000,107.000000,7.20000,114.00000,...,0,0,0,0,0,0,0,0,0,0
2,11.000000,63.000000,70.000000,1.010000,3.00000,0.000000,380.000000,60.000000,2.70000,131.00000,...,0,0,0,0,0,0,0,0,0,0
3,12.000000,68.000000,70.000000,1.015000,3.00000,1.000000,208.000000,72.000000,2.10000,138.00000,...,abnormal,present,notpresent,yes,no,no,poor,yes,yes,ckd
4,14.000000,68.000000,80.000000,1.010000,3.00000,2.000000,157.000000,90.000000,4.10000,130.00000,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
320,248.132275,51.470899,75.079365,1.019048,0.84127,0.343915,138.941799,53.142857,2.26455,138.62963,...,normal,notpresent,notpresent,no,no,no,good,no,no,notckd
321,248.132275,51.470899,75.079365,1.019048,0.84127,0.343915,138.941799,53.142857,2.26455,138.62963,...,normal,notpresent,notpresent,no,no,no,good,no,no,notckd
322,248.132275,51.470899,75.079365,1.019048,0.84127,0.343915,138.941799,53.142857,2.26455,138.62963,...,normal,notpresent,notpresent,no,no,no,good,no,no,notckd
323,248.132275,51.470899,75.079365,1.019048,0.84127,0.343915,138.941799,53.142857,2.26455,138.62963,...,normal,notpresent,notpresent,no,no,no,good,no,no,notckd
324,248.132275,51.470899,75.079365,1.019048,0.84127,0.343915,138.941799,53.142857,2.26455,138.62963,...,normal,notpresent,notpresent,no,no,no,good,no,no,notckd

In [30]:
def quanQual(dataset):
    quan=[]
    qual=[]
    for columnName in dataset.columns:
        #print(columnName)
        if(dataset[columnName].dtype=='O'):
            #print("qual")
            qual.append(columnName)
        else:
            #print("quan")
            quan.append(columnName)
    return quan,qual

In [31]:
quan,qaul=quanQual(dataset)

In [32]:
dataset[quan]

,id,age,bp,sg,al,su,bgr,bu,sc,sod,pot,hemo,pcv,wc,rc
0,3.000000,48.000000,70.000000,1.005000,4.00000,0.000000,117.000000,56.000000,3.80000,111.00000,2.500000,11.200000,40.634921,8544.444444,4.766667
1,9.000000,53.000000,90.000000,1.020000,2.00000,0.000000,70.000000,107.000000,7.20000,114.00000,3.700000,9.500000,40.634921,8544.444444,4.766667
2,11.000000,63.000000,70.000000,1.010000,3.00000,0.000000,380.000000,60.000000,2.70000,131.00000,4.200000,10.800000,40.634921,8544.444444,4.766667
3,12.000000,68.000000,70.000000,1.015000,3.00000,1.000000,208.000000,72.000000,2.10000,138.00000,5.800000,9.700000,32.000000,6700.000000,3.900000
4,14.000000,68.000000,80.000000,1.010000,3.00000,2.000000,157.000000,90.000000,4.10000,130.00000,6.400000,5.600000,40.634921,8544.444444,4.766667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
320,248.132275,51.470899,75.079365,1.019048,0.84127,0.343915,138.941799,53.142857,2.26455,138.62963,4.598413,13.300529,47.000000,6700.000000,4.900000
321,248.132275,51.470899,75.079365,1.019048,0.84127,0.343915,138.941799,53.142857,2.26455,138.62963,4.598413,13.300529,54.000000,7800.000000,6.200000
322,248.132275,51.470899,75.079365,1.019048,0.84127,0.343915,138.941799,53.142857,2.26455,138.62963,4.598413,13.300529,49.000000,6600.000000,5.400000
323,248.132275,51.470899,75.079365,1.019048,0.84127,0.343915,138.941799,53.142857,2.26455,138.62963,4.598413,13.300529,51.000000,7200.000000,5.900000
324,248.132275,51.470899,75.079365,1.019048,0.84127,0.343915,138.941799,53.142857,2.26455,138.62963,4.598413,13.300529,53.000000,6800.000000,6.100000

In [36]:
import numpy as np
from sklearn.impute import SimpleImputer
imp = SimpleImputer(missing_values=np.nan, strategy='most_frequent')
imp.fit(dataset[quan])
df=imp.transform(dataset[quan])
df = pd.DataFrame(df,columns = quan)

In [37]:
df

,id,age,bp,sg,al,su,bgr,bu,sc,sod,pot,hemo,pcv,wc,rc
0,3.000000,48.000000,70.000000,1.005000,4.00000,0.000000,117.000000,56.000000,3.80000,111.00000,2.500000,11.200000,40.634921,8544.444444,4.766667
1,9.000000,53.000000,90.000000,1.020000,2.00000,0.000000,70.000000,107.000000,7.20000,114.00000,3.700000,9.500000,40.634921,8544.444444,4.766667
2,11.000000,63.000000,70.000000,1.010000,3.00000,0.000000,380.000000,60.000000,2.70000,131.00000,4.200000,10.800000,40.634921,8544.444444,4.766667
3,12.000000,68.000000,70.000000,1.015000,3.00000,1.000000,208.000000,72.000000,2.10000,138.00000,5.800000,9.700000,32.000000,6700.000000,3.900000
4,14.000000,68.000000,80.000000,1.010000,3.00000,2.000000,157.000000,90.000000,4.10000,130.00000,6.400000,5.600000,40.634921,8544.444444,4.766667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
320,248.132275,51.470899,75.079365,1.019048,0.84127,0.343915,138.941799,53.142857,2.26455,138.62963,4.598413,13.300529,47.000000,6700.000000,4.900000
321,248.132275,51.470899,75.079365,1.019048,0.84127,0.343915,138.941799,53.142857,2.26455,138.62963,4.598413,13.300529,54.000000,7800.000000,6.200000
322,248.132275,51.470899,75.079365,1.019048,0.84127,0.343915,138.941799,53.142857,2.26455,138.62963,4.598413,13.300529,49.000000,6600.000000,5.400000
323,248.132275,51.470899,75.079365,1.019048,0.84127,0.343915,138.941799,53.142857,2.26455,138.62963,4.598413,13.300529,51.000000,7200.000000,5.900000
324,248.132275,51.470899,75.079365,1.019048,0.84127,0.343915,138.941799,53.142857,2.26455,138.62963,4.598413,13.300529,53.000000,6800.000000,6.100000

In [38]:
cate=dataset[qaul]

In [39]:
df

,id,age,bp,sg,al,su,bgr,bu,sc,sod,pot,hemo,pcv,wc,rc
0,3.000000,48.000000,70.000000,1.005000,4.00000,0.000000,117.000000,56.000000,3.80000,111.00000,2.500000,11.200000,40.634921,8544.444444,4.766667
1,9.000000,53.000000,90.000000,1.020000,2.00000,0.000000,70.000000,107.000000,7.20000,114.00000,3.700000,9.500000,40.634921,8544.444444,4.766667
2,11.000000,63.000000,70.000000,1.010000,3.00000,0.000000,380.000000,60.000000,2.70000,131.00000,4.200000,10.800000,40.634921,8544.444444,4.766667
3,12.000000,68.000000,70.000000,1.015000,3.00000,1.000000,208.000000,72.000000,2.10000,138.00000,5.800000,9.700000,32.000000,6700.000000,3.900000
4,14.000000,68.000000,80.000000,1.010000,3.00000,2.000000,157.000000,90.000000,4.10000,130.00000,6.400000,5.600000,40.634921,8544.444444,4.766667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
320,248.132275,51.470899,75.079365,1.019048,0.84127,0.343915,138.941799,53.142857,2.26455,138.62963,4.598413,13.300529,47.000000,6700.000000,4.900000
321,248.132275,51.470899,75.079365,1.019048,0.84127,0.343915,138.941799,53.142857,2.26455,138.62963,4.598413,13.300529,54.000000,7800.000000,6.200000
322,248.132275,51.470899,75.079365,1.019048,0.84127,0.343915,138.941799,53.142857,2.26455,138.62963,4.598413,13.300529,49.000000,6600.000000,5.400000
323,248.132275,51.470899,75.079365,1.019048,0.84127,0.343915,138.941799,53.142857,2.26455,138.62963,4.598413,13.300529,51.000000,7200.000000,5.900000
324,248.132275,51.470899,75.079365,1.019048,0.84127,0.343915,138.941799,53.142857,2.26455,138.62963,4.598413,13.300529,53.000000,6800.000000,6.100000

In [40]:
cate

,rbc,pc,pcc,ba,htn,dm,cad,appet,pe,ane,classification
0,0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0
3,normal,abnormal,present,notpresent,yes,no,no,poor,yes,yes,ckd
4,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
320,normal,normal,notpresent,notpresent,no,no,no,good,no,no,notckd
321,normal,normal,notpresent,notpresent,no,no,no,good,no,no,notckd
322,normal,normal,notpresent,notpresent,no,no,no,good,no,no,notckd
323,normal,normal,notpresent,notpresent,no,no,no,good,no,no,notckd
324,normal,normal,notpresent,notpresent,no,no,no,good,no,no,notckd

In [41]:
two=[df,cate]

In [42]:
preprocessed=pd.concat(two,axis=1)

In [43]:
preprocessed

,id,age,bp,sg,al,su,bgr,bu,sc,sod,...,pc,pcc,ba,htn,dm,cad,appet,pe,ane,classification
0,3.000000,48.000000,70.000000,1.005000,4.00000,0.000000,117.000000,56.000000,3.80000,111.00000,...,0,0,0,0,0,0,0,0,0,0
1,9.000000,53.000000,90.000000,1.020000,2.00000,0.000000,70.000000,107.000000,7.20000,114.00000,...,0,0,0,0,0,0,0,0,0,0
2,11.000000,63.000000,70.000000,1.010000,3.00000,0.000000,380.000000,60.000000,2.70000,131.00000,...,0,0,0,0,0,0,0,0,0,0
3,12.000000,68.000000,70.000000,1.015000,3.00000,1.000000,208.000000,72.000000,2.10000,138.00000,...,abnormal,present,notpresent,yes,no,no,poor,yes,yes,ckd
4,14.000000,68.000000,80.000000,1.010000,3.00000,2.000000,157.000000,90.000000,4.10000,130.00000,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
320,248.132275,51.470899,75.079365,1.019048,0.84127,0.343915,138.941799,53.142857,2.26455,138.62963,...,normal,notpresent,notpresent,no,no,no,good,no,no,notckd
321,248.132275,51.470899,75.079365,1.019048,0.84127,0.343915,138.941799,53.142857,2.26455,138.62963,...,normal,notpresent,notpresent,no,no,no,good,no,no,notckd
322,248.132275,51.470899,75.079365,1.019048,0.84127,0.343915,138.941799,53.142857,2.26455,138.62963,...,normal,notpresent,notpresent,no,no,no,good,no,no,notckd
323,248.132275,51.470899,75.079365,1.019048,0.84127,0.343915,138.941799,53.142857,2.26455,138.62963,...,normal,notpresent,notpresent,no,no,no,good,no,no,notckd
324,248.132275,51.470899,75.079365,1.019048,0.84127,0.343915,138.941799,53.142857,2.26455,138.62963,...,normal,notpresent,notpresent,no,no,no,good,no,no,notckd

In [44]:
preprocessed.isnull().sum()

id                0
age               0
bp                0
sg                0
al                0
su                0
bgr               0
bu                0
sc                0
sod               0
pot               0
hemo              0
pcv               0
wc                0
rc                0
rbc               0
pc                0
pcc               0
ba                0
htn               0
dm                0
cad               0
appet             0
pe                0
ane               0
classification    0
dtype: int64

In [46]:
preprocessed.to_csv("kidney_disease.csv",index=False)